<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright 2014, 2015 Roland Bouman (roland.bouman@gmail.com)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<plugin title="XML/A Visualizer">

  <overlays>
    <overlay id="startup.xavier" priority="2" resourcebundle="api/repos/data-access/resources/messages/messages.properties">
      <menubar id="newmenu">
        <menuitem
          id="_xavier"
          label="XML/A Visualizer"
          command="mantleXulHandler.openUrl('XML/A Visualizer', 'XML/A Visualizer', 'content/xavier/resources/html/index.html')"
        />
      </menubar>
    </overlay>
  </overlays>

  <static-paths>
    <static-path url="/xavier/resources/js" localFolder="resources/js"/>
    <static-path url="/xavier/resources/css" localFolder="resources/css"/>
    <static-path url="/xavier/resources/images" localFolder="resources/images"/>
    <static-path url="/xavier/resources/html" localFolder="resources/html"/>
    <static-path url="/xavier/resources/doc" localFolder="resources/doc"/>
    <static-path url="/xavier/resources/mui" localFolder="resources/mui"/>
    <static-path url="/xavier/resources/messages" localFolder="resources/messages"/>
    <static-path url="/xavier/lib" localFolder="lib"/>
  </static-paths>

</plugin>

